// THEME COLORS
$primary: #333333;
$secondary: #5A5A5A;

$primaryBg: #FDF9F2;
$secondaryBg: #F9F8F8;
$bannerBg: #F9F8F7;
$textPlaceholder: #7C7C7C;
$dividerBg: #DEE2E6;
$submitBg: #353535;
$footerText: #969696;
$textStep: #626262;
$textTestimonial: #535353;
$testimonialBg: #FAF9F7;
$dimondBorder: #ECECEC;
$textSuccess: #69B756;
$inputBorder: #CED3DB;
$formBorder: #D8D8D8;
$showroomBorder: rgba(21, 21, 21, 0.15);
$scheduleBg: #0E0E0E;
$textSchedule: #B9B8B8;
$faqBtnBg: #EDEDED;

// NORMAL COLORS
$black: #000000;
$white: #ffffff;

$textWelcome: #343C44;
$textSlogan: #4D4D4D;
$textPrimary: #25A8E0;
$textDanger: #FF5756;
$textHeading: #343C44;
$textGray: #9C9C9C;
$primaryBlue: #007AFF;
$notifyHeaderBg: #ebebeb;
$notifyBg: #FBFBFB;
$border-1: hsl(0, 0%, 69%); //#B0B0B0
$border-2: hsl(216, 6%, 15%); //#242629
$input-border: hsl(255, 7%, 88%); //#E0DFE3
$prime-express-bg: hsl(220, 23%, 97%); //#F7F8FA
$dropdownBorder: #D6E4EC;
$headerBottomBg: #F5F5F5;
$addBtnBg: #E5E5E5;

// SHADOWS
$shadow-1: rgba(162, 162, 162, 0.25);
$banner: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 67.71%);
$overlayBg: linear-gradient(0deg, $black 0%, rgba($black, 0) 86.04%);
$box-shadow-1: 0rem .25rem .25rem $shadow-1;

$shade-1: rgba(117, 131, 142, 0.04);
$shade-2: rgba(52, 60, 68, 0.12);


$dropdownshadow: 0rem .125rem .5rem $shade-1,
0rem 1rem 1.5rem $shade-2;