/**=======================================================**
                        ADD-USER SECTION START
**=======================================================**/
.main {
    padding: length(24) length(38) length(140);

    @include breakpoint(tablet991) {
        padding: length(20) length(20) length(80);
    }

    .add-user {
        @include w100;
        @include flex-column;
        gap: length(32);

        .adduser-header {
            @include flex-center-between;

            .add-title {
                @include font-face($montserrat, style('normal'), size(24), weight('bold'), line-height(31.68, 24));
                color: $primary;
            }
        }
    }
}