.alpha-authentication {
    display: flex;
    @include w100;
    height: 100vh;
    background: $white;
    @include radius(20);
    overflow: hidden;

    @include breakpoint(tablet991) {
        flex-direction: column;
        overflow-y: scroll;
    }

    .authenticationbox {
        width: 50%;
        min-height: 100vh;
        padding: length(88) length(25) length(74);
        @include flex-between;
        flex-direction: column;
        align-items: flex-start;

        @include breakpoint(tablet991) {
            @include w100;
            padding: length(32) length(25);
            gap: length(16);
        }

        .auth-head {
            .logo {
                width: length(238);
                height: length(59);

                img {
                    @include w100;
                    object-fit: contain;
                }
            }
        }

        .authdetails {
            @include flex-column;
            gap: length(32);
            @include w100;
            max-width: length(445);
            margin-inline: auto;

            @include breakpoint(phone500) {
                gap: length(24);
            }

            &-header {
                @include w100;

                .welcometitle {
                    @include font-face($montserrat, style('normal'), size(30), weight('normal'), line-height(44, 30));
                    color: $textWelcome;
                    letter-spacing: length(-0.64);

                    @include breakpoint(phone500) {
                        @include font-face($montserrat, style('normal'), size(24), weight('normal'), line-height(38, 24));
                    }

                    @include breakpoint(mobile400) {
                        @include font-face($montserrat, style('normal'), size(20), weight('semibold'), line-height(24, 20));
                    }
                }
            }

            &-body {
                @include flex-column;
                gap: length(32);
                @include w100;

                .authtitle {
                    @include font-face($montserrat, style('italic'), size(48), weight('semibold'), line-height(70, 48));
                    color: $textWelcome;
                    letter-spacing: length(-1.34);
                }

                .authenticationform {
                    @include w100;
                    @include flex-column;
                    gap: length(20);

                    .inputbox {
                        @include w100;
                        @include flex-column;
                        gap: length(8);

                        .infobox {
                            @include w100;

                            .inputfield {
                                @include w100;
                                @include font-face($encodeSans, style('normal'), size(18), weight('normal'), line-height(18, 18));
                                letter-spacing: length(-0.33);
                                color: $textWelcome;
                                @include border(solid, 2, $textWelcome);
                                @include radius(6);
                                padding: length(16.5) length(20);

                                &::placeholder {
                                    color: rgba($textWelcome, 0.6);
                                }
                            }
                        }

                        .passwordbox {
                            @include w100;
                            @include border(solid, 2, $textWelcome);
                            @include radius(6);
                            @include flex-center-vert;

                            .inputfield {
                                width: calc(100% - 4.5rem);
                                @include font-face($encodeSans, style('normal'), size(18), weight('normal'), line-height(18, 18));
                                letter-spacing: length(-0.33);
                                color: $textWelcome;
                                padding: length(16.5) length(20);
                                @include radius(6);

                                &::placeholder {
                                    color: rgba($textWelcome, 0.6);
                                }
                            }

                            .btn-toggle {
                                padding: length(16.5) length(20);
                                width: length(72);
                                @include h100;
                                cursor: pointer;
                                @include transparent-button;
                            }
                        }

                        .errormessage {
                            @include font-face($encodeSans, style('normal'), size(14), weight('medium'), line-height(24, 14));
                            color: $textDanger;
                            display: none;
                        }

                        &.error {
                            .errormessage {
                                display: block;
                            }

                            .infobox {
                                .inputfield {
                                    border-color: $textDanger;
                                }
                            }

                            .passwordbox {
                                border-color: $textDanger;
                            }
                        }
                    }

                    .rememberme-forget {
                        margin-top: length(-8);

                        .rememberme {
                            @include flex-center-vert;

                            .remembercheck {
                                &:checked~.rememberlabel {
                                    &::before {
                                        background: $textPrimary;
                                        border-color: $textPrimary;
                                    }

                                    &::after {
                                        opacity: 1;
                                        visibility: visible;
                                    }
                                }
                            }

                            .rememberlabel {
                                cursor: pointer;
                                position: relative;
                                padding-left: length(32);
                                @include flex-center-vert;
                                @include font-face($encodeSans, style('normal'), size(18), weight('normal'), line-height(34, 18));
                                letter-spacing: length(-0.33);
                                color: $textWelcome;

                                &::before {
                                    content: '';
                                    position: absolute;
                                    top: 50%;
                                    left: 0;
                                    @include transform(translateY(-50%));
                                    @include square(length(20));
                                    @include border(solid, 1, $textWelcome);
                                    background: $white;
                                    @include transitions;
                                }

                                &::after {
                                    width: length(6);
                                    height: length(14);
                                    @include border(solid, 2, $white);
                                    border-top: 0;
                                    border-left: 0;
                                    content: '';
                                    position: absolute;
                                    top: 40%;
                                    left: length(7);
                                    @include transform(translateY(-40%) rotate(45deg));
                                    opacity: 0;
                                    visibility: hidden;
                                    @include transitions;
                                }

                                &::selection {
                                    @include setBgColor(transparent, $textWelcome);
                                }
                            }
                        }

                        &.error {
                            .rememberme {
                                .rememberlabel {
                                    color: $textDanger;

                                    &::before {
                                        border-color: $textDanger;
                                    }
                                }
                            }
                        }
                    }

                    .submitbox {
                        @include w100;

                        .btn-submit {
                            @include w100;
                            padding: length(15);
                            text-align: center;
                            @include setBgColor($textPrimary, $white);
                            @include font-face($encodeSans, style('normal'), size(20), weight('semibold'), line-height(34, 20));
                            letter-spacing: length(-0.33);
                            @include radius(6);
                            @include transitions;

                            @include hover {
                                background: darken($textPrimary, 15%);
                            }
                        }
                    }
                }
            }
        }

        .authfooter {
            @include flex-center-between;
            @include w100;

            @include breakpoint(phone575) {
                flex-direction: column;
                gap: length(8);
            }

            .copyright {
                &-text {
                    @include font-face($montserrat, style('normal'), size(16), weight('normal'), line-height(28, 16));
                    letter-spacing: length(-0.18);
                    color: $textWelcome;
                }

                @include breakpoint(phone575) {
                    order: 1;
                }
            }

            .footlist {
                @include list-horizontal;
                gap: length(14);

                @include breakpoint(phone575) {
                    order: 0;
                }

                &-link {
                    @include font-face($montserrat, style('normal'), size(16), weight('normal'), line-height(28, 16));
                    letter-spacing: length(-0.18);
                    color: $textWelcome;
                    @include transitions;

                    @include hover {
                        color: $black;
                    }
                }
            }
        }
    }

    .authenticationinfo {
        background: url(../images/pages/authentication/auth-bg.svg) no-repeat center center/cover;
        width: 50%;
        min-height: 100vh;
        @include flex-center-column;
        gap: length(48);

        @include breakpoint(tablet991) {
            @include w100;
            padding: length(48);
            display: none;
        }

        .auth-thumbnail {
            width: 50%;
            overflow: hidden;

            @include breakpoint(phone768) {
                width: 75%;
            }

            img {
                @include wh100;
                object-fit: cover;
            }
        }

        .authinfo {
            @include flex-center-column;
            gap: length(58);

            &-header {
                @include flex-center-column;
                gap: length(8);

                .authinfo-title {
                    @include font-face($montserrat, style('normal'), size(36), weight('semibold'), line-height(44, 36));
                    color: $textWelcome;
                    letter-spacing: length(-0.64);
                    text-align: center;

                    @include breakpoint(phone768) {
                        @include font-face($montserrat, style('normal'), size(18), weight('semibold'), line-height(31.68, 18));
                    }

                    @include breakpoint(phone480) {
                        @include font-face($montserrat, style('normal'), size(20), weight('semibold'), line-height(31.68, 20));
                    }
                }

                .titlebar {
                    height: length(5);
                    @include flex-center;
                    overflow: hidden;

                    svg {
                        @include wh100;
                    }
                }
            }

            &-body {
                @include flex-center-column;
                gap: length(16);
                text-align: center;

                .authinfotitles {
                    .subtitle {
                        @include font-face($montserrat, style('normal'), size(49), weight('normal'), line-height(59, 49));
                        color: $textHeading;

                        @include breakpoint(phone768) {
                            @include font-face($montserrat, style('normal'), size(36), weight('normal'), line-height(44, 36));
                        }

                        @include breakpoint(phone480) {
                            @include font-face($montserrat, style('normal'), size(24), weight('normal'), line-height(31.68, 24));
                        }
                    }

                    .title {
                        @include font-face($montserrat, style('normal'), size(49), weight('bold'), line-height(59, 49));
                        color: $textHeading;

                        @include breakpoint(phone768) {
                            @include font-face($montserrat, style('normal'), size(36), weight('bold'), line-height(44, 36));
                        }

                        @include breakpoint(phone480) {
                            @include font-face($montserrat, style('normal'), size(24), weight('bold'), line-height(31.68, 24));
                        }
                    }
                }

                .slogan {
                    &-text {
                        @include font-face($montserrat, style('normal'), size(20), weight('normal'), line-height(32, 20));
                        letter-spacing: length(-0.64);
                        text-align: center;
                        color: $textSlogan;

                        @include breakpoint(phone480) {
                            @include font-face($montserrat, style('normal'), size(16), weight('normal'), line-height(28, 16));
                        }
                    }
                }
            }
        }
    }
}