.btn-add {
    background: $addBtnBg;
    @include square(length(40));
    @include radius(4);
    @include flex-center;
    overflow: hidden;
    @include transitions;

    @include hover {
        background: darken($addBtnBg, 7%);
    }
}

.btn-download {
    background: $addBtnBg;
    padding: length(8) length(16);
    @include radius(4);
    @include flex-center;
    gap: length(12);
    overflow: hidden;
    @include transitions;

    .btn-text {
        @include font-face($montserrat, style('normal'), size(14), weight('semibold'), line-height(17, 14));
        color: $primary;
        letter-spacing: length(0.75);
    }

    .icon {
        @include square(length(24));
        @include flex-center;
        overflow: hidden;
    }

    @include hover {
        background: darken($addBtnBg, 7%);
    }
}