.offcanvas-top {
    height: 100vh;
    border-bottom: none;
}

.offcanvas-bottom {
    height: 100vh;
    border-top: none;
}

.offcanvas-start {
    border-right: none;
}

.offcanvas-end {
    border-left: 0;
}

.offcanvas {
    @include w100;

    &-header {
        padding: length(24);

        .logo {
            width: length(160);
            height: length(40);
            @include flex-center;
            overflow: hidden;

            img {
                @include wh100;
                object-fit: contain;
            }
        }

        .btn-close {
            @include square(length(36));
            background: transparent;
            margin: 0;
            padding: 0;
            @include flex-center;
            opacity: 1;

            svg {
                @include transitiontransform;
            }

            &:focus {
                box-shadow: none;
                outline: none;
            }

            @include hover {
                svg {
                    @include transform(rotate(90deg));

                    path {
                        stroke: $textDanger;
                    }
                }
            }
        }
    }

    &-body {
        padding: length(0) length(24) length(24);
        @include flex-column;
        gap: length(14);

        .date {
            margin-left: auto;

            &-text {
                @include font-face($montserrat, style('normal'), size(12), weight('normal'), line-height(16, 12));
                color: $textWelcome;
                letter-spacing: length(0.4);
            }
        }

        .mobilelist {
            @include list-vertical;
            gap: length(14);

            &-link {
                @include font-face($montserrat, style('normal'), size(14), weight('normal'), line-height(24, 14));
                color: $textWelcome;
                letter-spacing: length(0.25);
                @include transitions;

                &:hover:not(.active) {
                    font-weight: bold;
                }

                &.active {
                    font-weight: bold;
                }
            }
        }

        .date {
            margin-left: auto;

            &-text {
                @include font-face($montserrat, style('normal'), size(12), weight('normal'), line-height(16, 12));
                color: $textWelcome;
                letter-spacing: length(0.4);
            }
        }

        &::-webkit-scrollbar {
            background: transparent;
            width: length(8);
        }

        &::-webkit-scrollbar-thumb {
            @include radius(8);
        }
    }
}