.offcanvas-top {
    height: 100vh;
    border-bottom: none;
}

.offcanvas-bottom {
    height: 100vh;
    border-top: none;
}

.offcanvas-start {
    border-right: none;
}

.offcanvas-end {
    border-left: 0;
}

.offcanvas {
    @include w100;

    &-header {
        padding: length(24);

        // .brandlogo {
        //     @include flex-center;
        //     width: length(160);
        //     height: length(80);
        //     overflow: hidden;

        //     img {
        //         max-width: 100%;
        //         object-fit: contain;

        //         @include breakpoint(mobile768) {
        //             object-fit: cover;
        //         }
        //     }
        // }

        .btn-close {
            @include square(length(36));
            background: transparent;
            margin: 0;
            padding: 0;
            @include flex-center;
            opacity: 1;


            &:focus {
                box-shadow: none;
                outline: none;
            }

            @include hover {
                
            }
        }
    }

    &-body {

        

        &::-webkit-scrollbar {
            background: transparent;
            width: length(8);
        }

        &::-webkit-scrollbar-thumb {
            // background: $primary;
            @include radius(8);
        }

    }
}